@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #e2efde;
}

.container {
  position: absolute;
  width: 700px;
  top: 15%;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 50px;
  padding: 0 20px;
}

.l1 {
  position: absolute;
  width: 95vw;
  height: 0px;
  left: 2%;
  top: 73px;

  border: 1px solid #000000;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.cool-link:hover::after {
  widows: 100%;
  transition: width 0.3s;
}

.home {
  position: absolute;
  width: 100%;
  top: 8%;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.headline {
  display: flex;
  position: absolute;
  width: 539px;
  height: 72px;
  right: 5%;
  top: 500%;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 84%;
}

.one {
  position: flex;
  width: 370px;
  margin-left: 940px;
  margin-top: 320px;
}

.yu {
  position: absolute;
  width: 409px;
  margin-left: -550px;
  margin-top: 590px;
}

.l2 {
  position: absolute;
  width: 95vw;
  height: 0px;
  left: 2%;
  top: 203px;

  border: 1px solid #000000;
}

.core {
  position: absolute;
  left: 10%;
  top: 384px;

  font-family: Bebas Neue;
  font-size: 144px;
  line-height: 84%;
}
